<% if !@cart_item.nil? && @cart_item.errors.any? %>
    <ul>
        <% @cart_items.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="columns is-multiline is-vcentered">
              <div class="column is-12 is-8-widescreen mb-8 mb-0-widescreen">
                <div class="is-hidden-touch columns is-multiline" style="border-bottom: 1px solid grey;">
                  <div class="column is-6">
                    <h4 class="has-text-grey has-text-weight-bold mb-6" style="font-size: 16px;" data-config-id="header1">Description</h4>
                  </div>
                  <div class="column is-2">
                    <h4 class="has-text-grey has-text-weight-bold mb-6" style="font-size: 16px;" data-config-id="header2">Price</h4>
                  </div>

                  <div class="column is-2">
                    <h4 class="has-text-grey has-text-weight-bold mb-6" style="font-size: 16px;" data-config-id="header4">Subtotal</h4>
                  </div>
                </div>
                <div class="mb-12 py-6">




<% if @cart_items.size>0 %>
    <% @cart_items.each do |item| %>
                  <div class="columns is-vcentered is-multiline">
                            <div class="column is-6-desktop is-7-tablet mb-6 mb-0-tablet">
                                <div class="columns is-vcentered is-multiline">
                                                <div class="column is-4-tablet mb-3">
                                                    <div class="is-flex has-background-light is-justify-content-center is-align-items-center" style="width: 96px; height: 128px;">
                                                        <img class="image is-fullwidth" style="object-fit: contain;" src="yofte-assets/images/basketball.png" alt="" data-config-id="image2">
                                                    </div>
                                                </div>

                                                <div class="column is-8">
                                                    <h3 class="subtitle mb-2 has-text-weight-bold" data-config-id="title2">
                                                        <%= link_to item.product.product_name, product_path(item.product_id) %>
                                                    </h3>
                                                </div>
                                </div>
                            </div>

                            <div class="column is-2 is-hidden-touch">
                                <p class="subtitle has-text-info mb-0 has-text-weight-bold" data-config-id="price2"><%= number_to_currency item.product.price %></p>
                            </div>



                            <div class="column is-2">
                            <p class="subtitle has-text-info has-text-weight-bold" data-config-id="price2">
                                <%= number_to_currency item.total_price %>
                            </p>
                            </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                        <%= form_for(item) do |f| %>
                            <%= f.hidden_field :product_id, value: item.product.id %>

                            <div class="field has-addons">
                                <div class="select is-small">
                                    <%= f.select :quantity, (1..10).to_a, { selected: item.quantity.to_i }, { class: 'select is-small' } %>
                                </div>
                            <div class="control">
                                <button type="submit" class="button is-primary is-small">Update</button>
                            </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="column is-danger">
                        <%= link_to 'Delete', item, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove this item from your cart?' }, class: 'button is-danger' %>
                    </div>
                  </div>




    <% end %>
<% else %>
<% end %>




                </div>
              </div>
              <div class="column is-12 is-4-widescreen">
                <div class="has-background-info p-6 p-16-desktop">
                  <h3 class="title is-size-3 has-text-white mb-6" data-config-id="summary-header">Cart totals</h3>
                  <div class="mb-8 pb-5 is-flex is-justify-content-space-between is-align-items-center" style="border-bottom: 1px solid rgba(255, 255, 255, 0.3);">
                    <span class="has-text-light" data-config-id="s-header1">Subtotal</span>
                    <span class="subtitle has-text-white has-text-weight-bold" data-config-id="s-value1">
                        <%= number_to_currency current_order.subtotal %>
                    </span>
                  </div>


                  <div class="mb-10 is-flex is-justify-content-space-between is-align-items-center">
                    <span class="title is-size-5 mb-0 has-text-white has-text-weight-bold" data-config-id="s-header5">Order total</span>
                    <span class="title is-size-5 mb-0 has-text-white has-text-weight-bold" data-config-id="s-value5">$100.67</span>
                  </div>
                  <a class="button is-primary is-fullwidth" href="#" data-config-id="summary-action">Go to Checkout</a>
                </div>
              </div>
</div>

