<div class="columns">
    <%= render partial: 'product', locals: { product: @product, show_link: false } %>
    <div class="column is-two-thirds">
        <span class="has-text-grey-dark">
            <%= @product.brand %>
        </span>

        <h1 class="title is-2 has-text-black"><%= @product.product_name %></h1>

        <p class="has-text-grey">Category: <%= link_to @product.category.category_type, category_path(@product.category) %></p>

        <p class="has-text-grey">Ranking: <%= @product.ranking %> / 5</p>

        <article class="message">
            <div class="message-header">
                <p>Ingredients</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                <%= @product.ingredients %>
            </div>
        </article>

        <%= form_for(@cart_item, remote: true) do |f| %>
            <%= f.hidden_field :product_id, value: @product.id %>

            <div class="field has-addons">
                <div class="select is-small">
                <%= f.select :quantity, (1..10).to_a, { selected: @cart_item.quantity.to_i }, { class: 'select is-small' } %>
                </div>
                <div class="control">
                <%= f.submit "Add", class: 'button is-primary is-small' %>
                </div>
            </div>
        <% end %>
    </div> 
</div>

